<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLAPS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<h1 style="text-align: center;">PRODUCTS</h1>

<div style="margin: auto; width:50%;">

    <form th:action="@{/admin/products/saveProduct}" th:object="${product}" method="POST">
        <div class="mb-3">
            <label for="formTitle" class="form-label">Enter product title</label>
            <input th:field="*{title}" type="text" class="form-control" id="formTitle" placeholder="Enter product title">
        </div>
        <div class="mb-3">
            <label for="formTitle" class="form-label">Select Category</label>
        <select th:field="*{categoryId}" class="form-select" aria-label="Default select example">
            <option th:each="category : ${categories}" th:value="${category.getCategoryId()}" th:text="${category.getTitle()}"></option>
        </select>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Enter image link</label>
            <input th:field="*{imageLink}" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Image link">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput3" class="form-label">Enter description</label>
            <input th:field="*{description}" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Enter description">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput4" class="form-label">Enter unitPrice</label>
            <input th:field="*{unitPrice}" type="number" class="form-control" id="formGroupExampleInput4" placeholder="Enter unit price">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput5" class="form-label">Enter small size stock</label>
            <input th:field="*{smallInStock}" type="number" class="form-control" id="formGroupExampleInput5" placeholder="small in stock">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput6" class="form-label">Enter medium size stock</label>
            <input th:field="*{mediumInStock}" type="number" class="form-control" id="formGroupExampleInput6" placeholder="medium in stock">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput7" class="form-label">Enter large size stock</label>
            <input th:field="*{largeInStock}" type="number" class="form-control" id="formGroupExampleInput7" placeholder="large in stock">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>