<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>BLAPS</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" th:href="@{/font/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
</head>

<body>
<!-- =====  LODER  ===== -->
<div class="loder"></div>
<div class="wrapper">
  <!-- =====  HEADER START  ===== -->
  <header id="header">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="header-top-left">
              <div class="contact"><span class="hidden-xs hidden-sm hidden-md">B L A P S</span></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <ul class="header-top-right text-right">
              <li class="account">
                <!--                <a th:href="@{/login}">My Account</a>-->
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                  <a th:href="@{/register}" th:case="${false}"><i class="fa fa-power-off"></i>     Sign up</a>
                  <span th:case="${true}"><span th:text=" 'Hola!! ' + ${naam}">Hola!! User</span></span>
                  <span th:case="*">LOL!!</span>
                </span></li>
              <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}" >
                      <span th:switch="${user.role}">
                      <a href="#" th:href="@{/admin}" th:case="'admin'"><i class="fa fa-user-secret"></i> Admin</a></span>
                  </span></span>
              </li>
              <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}"><a href="#" th:href="@{/logou}"><i class="fa fa-power-off"></i> Logout</a>
                  </span></span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container-fluid">
        <div class="row headerLogo">
          <div class="col-xs-12 col-sm-4">
            <form th:action="@{/search}">
              <div class="main-search mt_40">
                <input id="search-input" name="keyword"  placeholder="garfield" class="form-control input-lg "
                       autocomplete="off" type="text">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
          <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/index}"> <img alt="BLAPS" height="150px" width="150px"
                                                                                                          th:src="@{/images/mylogo.png}"></a> </div>
        </div>
        <nav class="navbar">
          <p>menu</p>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
                  class="i-bar"><i class="fa fa-bars"></i></span></button>
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul id="menu" class="nav navbar-nav">
              <li> <a th:href="@{/index}">Home</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop </a>
                <ul class="dropdown-menu" >
                  <div th:each="category:${categories}">
                    <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                <ul class="dropdown-menu">
                  <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <li> <a th:case="${true}" th:href="@{/cart/{customerId}(customerId=${user.customerId})}" style="color:white;">Cart</a></li>
                    <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Cart</a></li>
                  </div>
                  <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <li> <a th:case="${true}" th:href="@{/orders/{customerId}(customerId=${user.customerId})}" style="color:white;">Your orders</a></li>
                    <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Your orders</a></li>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </nav>
      </div>
    </div>
  </header>
  <!-- =====  HEADER END  ===== -->
  <!-- =====  CONTAINER START  ===== -->
  <div class="container">

      <!-- =====  BANNER STRAT  ===== -->
      <div class="col-sm-12">
        <div class="breadcrumb ptb_20">
          <h1>Shopping Cart</h1>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active">Shopping Cart</li>
          </ul>
        </div>
      </div>
      <!-- =====  BREADCRUMB END===== -->
      <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
        <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" role="button">
          <div class="nav-responsive">
            <div class="heading-part">
              <h2 class="main_title">Top category</h2>
            </div>
            <ul class="nav  main-navigation collapse in">
              <div th:each="category:${categories}">
                <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
            </ul>
          </div>
        </div>
        <div class="left_banner left-sidebar-widget mb_50 mt_30">
          <a href="#"><img th:src="@{/images/jk_cart.jpg}" alt="Left Banner" class="img-responsive" /></a>
        </div>
      </div>
      <div class="col-sm-8 col-lg-9 mtb_20">
        <div th:if="${param.q}" class="alert alert-danger" role="alert" th:text="${param.q}">
          <p>ERROR!!</p>
        </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <td class="text-center">Image</td>
                <td class="text-left">Product Name</td>
                <td class="text-left">Size</td>
                <td class="text-left">Quantity</td>
                <td class="text-right">Unit Price</td>
                <td class="text-right">Total</td>
              </tr>
              </thead>
              <tbody>
<!--              <p  style="font-size:125%"></p>-->
<!--<div th:text=""></div>-->

              <tr th:each="cartItem : ${cartItems}">
                <td class="text-center">
                  <a th:href="@{/Product/{id}(id=${cartItem.productId})}">
                  <img th:src="${cartItem.imageLink}"
                                   style="height:20%; max-width: 50%" alt="Item" title="Item" /></a>
                </td>
                <td class="text-left">
                  <a  th:text="${cartItem.title}" th:href="@{/Product/{id}(id=${cartItem.productId})}">Product</a>
                </td>
                <td class="text-left" th:text="${cartItem.description}"></td>
                <td class="text-left">
                  <div style="max-width: 200px;" class="input-group btn-block">
                    <form th:action="@{/update_cart}" method="post">
                      <input type="hidden" name="customerId" th:value="${cartItem.categoryId}">
                      <input type="hidden" name="id" th:value="${cartItem.productId}">
                      <input type="hidden" name="size" th:value="${cartItem.description}">
                      <input type="hidden" name="prev" th:value="${cartItem.smallInStock}">
                    <input type="number" class="form-control quantity" min="1" name="quantity" th:value="${cartItem.smallInStock}" />
                    <span class="input-group-btn">
                          <button class="btn" title="Update" name="action" value="update" data-toggle="tooltip" type="submit" data-original-title="Update">
                            <i class="fa fa-refresh"></i>
                          </button>
                    </span></form>
                    <span><form th:action="@{/delete-from-cart}" method="post">
                      <input type="hidden" name="customerId" th:value="${cartItem.categoryId}">
                      <input type="hidden" name="id" th:value="${cartItem.productId}">
                      <input type="hidden" name="size" th:value="${cartItem.description}">
                      <input type="hidden" name="prev" th:value="${cartItem.smallInStock}">
                          <button class="btn btn-danger" title="Delete" name="action" value="delete"  data-toggle="tooltip" type="submit"
                                  data-original-title="Remove">
                            <i class="fa fa-times-circle"></i>
                          </button></form>
                        </span>
                  </div>
                </td>
                <td class="text-right" th:text="${cartItem.unitPrice}">₹254,000.00</td>
                <td class="text-right" th:with="quantity=${cartItem.smallInStock}, unitPrice=${cartItem.unitPrice}" th:text="${quantity * unitPrice}">₹254,000.00</td>
              </tr>
              </tbody>
            </table>
          </div>
<!--        </form>-->
        <h3 class="mtb_10">What next?</h3>
        <div class="panel-group mt_20" id="accordion">
          <div class="panel panel-default pull-left ">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="true">Select PhoneNumber <i class="fa fa-caret-down"></i></a>
              </h4>
            </div>
            <div class="panel-collapse collapse in" aria-expanded="true" style="">
              <div class="panel-body">
                <form th:action="@{/addPhoneNumber}" method="post">
                  <div class="radio">
                    <label>
                      <input type="radio" checked="checked" value="existing" name="payment_address" data-id="payment-existing">
                      I want to use an existing Phone Number</label>
                  </div>
                  <div id="payment-existing" style="">
                    <select class="form-control" name="address_id">
                      <option  th:each="phone : ${customerPhones}" th:value="${phone.getPhoneNumber()}"   th:text="${phone.getPhoneNumber()}"   ></option>
                    </select>


                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" value="new" name="payment_address" data-id="payment-new">
                      I want to use a new Phone Number</label>
                  </div>
                  <br>
                  <div id="payment-new" style="">
                    <div class="form-group">
                      <label for="input-payment-address-1" class="col-sm-2 control-label">New Phone Number</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-payment-address-1"  placeholder="Enter New Phone Number"  name="phoneNumber">
                      </div>
                    </div>
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <button type="submit">submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default pull-left ">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="" aria-expanded="true">Select Address <i class="fa fa-caret-down"></i></a>
              </h4>
            </div>
            <div class="panel-collapse collapse in" aria-expanded="true" style="">
              <div class="panel-body">
                <form th:action="@{/addAddress}" method="post">
                  <div class="radio">
                    <label>
                      <input type="radio" checked="checked" value="existing" name="payment_address" data-id="payment-existing">
                      I want to use an existing address</label>
                  </div>
                  <div id="payment-existing1" style="">
                    <select class="form-control" name="address_id">
                      <option  th:each="addr : ${customerAddresses}" th:text="${addr.street}+' '+${addr.city}+' '+${addr.country}+' '+${addr.postalcode}"     ></option>
                    </select>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" value="new" name="payment_address" data-id="payment-new">
                      I want to use a new address</label>
                  </div>
                  <br>
                  <div id="payment-new1" style="">
                    <div class="form-group">
                      <label for="input-payment-address-1" class="col-sm-2 control-label">Street</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-payment-address-2"  placeholder="Enter Street"  name="street">
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="input-payment-city1" class="col-sm-2 control-label">City</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-payment-city1"  placeholder="Enter City Name"  name="city">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="input-payment-postcode1" class="col-sm-2 control-label">PostalCode</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-payment-postcode1"  placeholder="Enter Postalcode"  name="postalCode">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="input-payment-country1" class="col-sm-2 control-label">country</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-payment-country1" placeholder="Enter country" name="country">
                      </div>
                    </div>
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <button type="submit">submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td class="text-right"><strong>Sub-Total:</strong></td>
                <td class="text-right">₹ <span th:text="${toto}">price</span></td>
              </tr>
              <tr>
                <td class="text-right">
                  <strong>SGST Tax (10%):</strong>
                </td>
                <td class="text-right">₹<span th:with="quantity=0.1,var=${toto},tota=${var*quantity}" th:text="${tota}">total</span></td>
              </tr>
              <tr>
                <td class="text-right"><strong>CGST (10%):</strong></td>
                <td class="text-right">₹<span th:with="quantity=0.1,var=${toto},tota=${var*quantity}" th:text="${tota}">total</span></td>
              </tr>
              <tr>
                <td class="text-right"><strong>Total:</strong></td>
                <td class="text-right">₹<span th:with="quantity=1.2,var=${toto},tota=${var*quantity}" th:text="${tota}">total</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <a th:href="@{/index}">
          <input class="btn pull-left mt_30" type="submit" value="Continue Shopping" />
        </a>
        <a  th:if="${!cartItems.isEmpty()}" th:href="@{/cartTOorder/{customerId}(customerId=${user.customerId})}">
          <button class="btn pull-right mt_30" type="submit" value="Checkout">Checkout</button>
        </a>
      </div>
<!--    </div>-->
  </div>
  <!-- =====  CONTAINER END  ===== -->
  <!-- =====  FOOTER START  ===== -->
  <div class="footer pt_60">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-block">
          <h6 class="footer-title ptb_20">Board Members</h6>
          <ul>
            <li><a href=""><i class="fa fa-user"></i>&nbspKamma Sai Kiran</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspEssamaraju Sasi Kiran</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspBanavath Mourya Naik</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspSavaturi Bhagavat Sai</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspN Sai Pranav</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-block">
        </div>
        <div class="col-md-3 footer-block"></div>
        <div class="col-md-3 footer-block">
          <h6 class="footer-title ptb_20">Contacts</h6>
          <ul>
            <li>Room no. 237,235,223</li>
            <li>Visweshwaraya Hostel</li>
            <li>IIT BHU</li>
            <li><a href="https://github.com/cokepranav/BLapSS"><i class="fa fa-codepen"></i>GITHUB</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom mt_60 ptb_20">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <div class="copyright-part text-center">@2022 All Rights Reserved</div>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
      </div>

    </div>
    <!-- =====  FOOTER END  ===== -->
    <a id="scrollup"><i class="fa-solid fa-up"></i></a>
  </div>
  <!-- =====  FOOTER END  ===== -->
</div>
<!--<a id="scrollup"></a>-->
<script th:src="@{/script/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/script/owl.carousel.min.js}"></script>
<script th:src="@{/script/bootstrap.min.js}"></script>
<script th:src="@{/script/jquery.magnific-popup.js}"></script>
<script th:src="@{/script/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/script/custom.js}"></script>
</body>
</html>