<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>BLAPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" href="./images/icon-logo.png" type="image/x-icon">
</head>

<body>
<!-- =====  LODER  ===== -->
<div class="loder"></div>
<div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="header-top-left">
                            <div class="contact"><span class="hidden-xs hidden-sm hidden-md">Days a week from 9:00 am to 7:00
                    pm</span></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <ul class="header-top-right text-right">
                            <li class="account">
                                <!--                <a th:href="@{/login}">My Account</a>-->
                                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                  <a th:href="@{/register}" th:case="${false}"><i class="fa fa-power-off"></i>     Sign up</a>
                  <span th:case="${true}"><span th:text=" 'Hola!! ' + ${naam}">Hola!! User</span></span>
                  <span th:case="*">LOL!!</span>
                </span></li>
                            <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}" >
                      <span th:switch="${user.role}">
                      <a href="#" th:href="@{/index}" th:case="'admin'"><i class="fa fa-user-secret"></i> Admin</a></span>
                  </span></span>
                            </li>
                            <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}"><a href="#" th:href="@{/logou}"><i class="fa fa-power-off"></i> Logout</a>
                  </span></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container-fluid">
                <div class="row headerLogo">
                    <div class="col-xs-12 col-sm-4">
                        <div class="main-search mt_40">
                            <input id="search-input" name="search" value="" placeholder="Search" class="form-control input-lg "
                                   autocomplete="off" type="text">
                            <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                </span>
                        </div>
                    </div>
                    <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/index}"> <img alt="BLAPS" height="150px" width="150px"
                                                                                                                  th:src="@{/images/mylogo.png}"></a> </div>
                </div>
                <nav class="navbar">
                    <p>menu</p>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
                            class="i-bar"><i class="fa fa-bars"></i></span></button>
                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul id="menu" class="nav navbar-nav">
                            <li> <a th:href="@{/index}">Home</a></li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop </a>
                                <ul class="dropdown-menu" >
                                    <div th:each="category:${categories}">
                                        <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                                <ul class="dropdown-menu">
                                    <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                                    <li> <a th:case="${true}" th:href="@{/cart/{customerId}(customerId=${user.customerId})}" style="color:white;">Cart</a></li>
                                        <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Cart</a></li>
                                    </div>
                                    <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                                        <li> <a th:case="${true}" th:href="@{/orders/{customerId}(customerId=${user.customerId})}" style="color:white;">Your orders</a></li>
                                        <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Your orders</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li> <a href="about.html">About us</a></li>
                            <li> <a href="contact_us.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </nav>
            </div>
        </div>
    </header>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  BANNER STRAT  ===== -->


    <div class="card">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
<!--                <li data-target="#myCarousel" data-slide-to="0"></li>-->
            </ol>

            <div class="carousel-inner">

                <div class="item active sub-hover">
                    <img class="sub-hover" th:src="@{/images/b2.jpg}"     alt="Los Angeles"
                         style="width:100%;">
                    <div class="carousel-caption">
<!--                        <h5>event 1</h5>-->
                    </div>
                </div>

                <div class="item sub-hover">
                    <img class="sub-hover" th:src="@{/images/b3.jpg}" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
<!--                        <h5>event 2</h5>-->
                    </div>
                </div>

                <div class="item sub-hover">
                    <img class="sub-hover" th:src="@{/images/b22.jpg}" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
<!--                        <h5>event 3</h5>-->
                    </div>
                </div>

            </div>


            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
<!--                <span class="sr-only">Previous</span>-->
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
<!--                <span class="sr-only">Next</span>-->
            </a>
        </div>
    </div>
    <!-- =====  BANNER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <!-- =====  SUB BANNER  STRAT ===== -->
        <div class="row">
            <div class="col-sm-4 mt_20 cms-icon ">
                <div class="feature-i-left ptb_30 ">
                    <i class="fa fa-chrome icon-right fa-3x"></i>
                    <h6>Order Online</h6>
                    <p>24*7</p>
                </div>
            </div>
            <div class="col-sm-4 mt_20 cms-icon ">
                <div class="feature-i-left ptb_30 ">
                    <i class="fa fa-shopping-cart icon-right fa-3x"></i>
                    <h6>Shop And Save</h6>
                    <p>For All Spices & Herbs</p>
                </div>
            </div>
            <div class="col-sm-4 mt_20 cms-icon ">
                <div class="feature-i-left ptb_30 ">
                    <i class="fa fa-shield icon-right fa-3x"></i>
                    <h6>Safe Shoping</h6>
                    <p>Ensure genuine 100%</p>
                </div>
            </div>
        </div>
        <div class="cards1" style="justify-content:center;  align-items: center;  vertical-align: middle;   ">
            <div  th:each="shirt4 : ${shirts}" class=" card1" style="justify-self: center;" >

                <a href="" th:href="@{/Product/{id}(id=${shirt4.productId})}">
                <div class="card-body"  style=" color:white;">
                    <img class="card-img-top" th:src="${shirt4.imageLink}" alt="Card image cap">
<!--                    <img class="card-img-top" th:src="@{${'/images/'+shirt4.productId+'.jpg'}}" alt="Card image cap">-->
                    <h4 class="card-title" th:text = "${shirt4.title}">John Doe</h4>
                    <p class="card-text" th:text = "${shirt4.description}">Some example text.</p>
                    <p class="card-text" th:text = "${shirt4.unitPrice}">Some example text.</p>
                </div></a>
            </div>

        </div>
        <div class="cards1" style="justify-content:center;  align-items: center;  vertical-align: middle;   ">
            <div  th:each="pant4 : ${pants}" class=" card1" style="justify-self: center;" >

                <a href="" th:href="@{/Product/{id}(id=${pant4.productId})}">
                    <div class="card-body"  style=" color:white;">
                        <img class="card-img-top" th:src="${pant4.imageLink}" alt="Card image cap">
                        <h4 class="card-title" th:text = "${pant4.title}">John Doe</h4>
                        <p class="card-text" th:text = "${pant4.description}">Some example text.</p>
                        <p class="card-text" th:text = "${pant4.unitPrice}">Some example text.</p>
                    </div></a>
            </div>

        </div>
        <div class="row">
            <div class="cms_banner">
                <div class="col-xs-12 mt_60">
                    <div id="subbanner4" class="sub-hover">
                        <div class="sub-img"><a href="#"><img th:src="@{images/men_shirt_b.jpg}"  alt="Sub Banner5" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- =====  CONTAINER END  ===== -->
<!-- =====  FOOTER START  ===== -->
<div class="footer pt_60">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-block">
                <h6 class="footer-title ptb_20">Information</h6>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-block">
                <h6 class="footer-title ptb_20">Services</h6>
                <ul>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Wish List</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-block"></div>
            <div class="col-md-3 footer-block">
                <h6 class="footer-title ptb_20">Contacts</h6>
                <ul>
                    <li>Warehouse & Offices,</li>
                    <li>12345 Street name, Bucharest RO</li>
                    <li>(+91) 999 999 999</li>
                    <li>nike@store.com</li>
                    <li><a href="index.html">www.nike.com/in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom mt_60 ptb_20">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="copyright-part text-center">@2022 All Rights Reserved</div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>

    </div>
    <!-- =====  FOOTER END  ===== -->
    <a id="scrollup"><i class="fa-solid fa-up"></i></a>
</div>
<!-- =====  FOOTER END  ===== -->
</div>
<!--<a id="scrollup"></a>-->
<script th:src="@{/script/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/script/owl.carousel.min.js}"></script>
<script th:src="@{/script/bootstrap.min.js}"></script>
<script th:src="@{/script/jquery.magnific-popup.js}"></script>
<script th:src="@{/script/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/script/custom.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</body>

</html>



<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--      xsi:schemaLocation="http://thymeleaf.org ">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>B L A P S</title>-->
<!--    <link th:href="@{/css/main.css}" rel="stylesheet">-->
<!--    <script type="text/javascript" th:src="@{/script/action.js}"></script>-->
<!--    &lt;!&ndash;    <script type="text/javascript" th:src="@{/js/action.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<p>working daasa</p>-->
<!--<h2>heading</h2>-->
<!--<p><strong>heheheheh</strong></p>-->
<!--<button type="button" th:onclick="demo()">Show fkin Alert</button>-->

<!--</body>-->
<!--</html>-->