<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
  <meta charset="utf-8">
  <title>Nike</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <link  th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
  <link  th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <link  th:href="@{/css/style.css}" rel="stylesheet">
  <link  th:href="@{/css/magnific-popup.css}" rel="stylesheet">
  <link  th:href="@{/css/owl.carousel.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" th:src="@{/script/jQuery_v3.1.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/script/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{/script/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/script/jquery.magnific-popup.js}"></script>
  <script type="text/javascript" th:src="@{/script/custom.js}"></script>
  <link rel="shortcut icon" href="./images/icon-logo.png" type="image/x-icon">
</head>

<body>
<!-- =====  LODER  ===== -->
<div class="loder"></div>
<div class="wrapper">
  <div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
    <div class="newsletter-popup"> <img class="offer" src="images/newsbg.jpg" alt="offer">
      <div class="newsletter-popup-static newsletter-popup-top">
        <div class="popup-text">
          <div class="popup-title">50% <span>off</span></div>
          <div class="popup-desc">
            <div>Sign up and get 50% off your next Order</div>
          </div>
        </div>
        <form onsubmit="return  validatpopupemail();" method="post">
          <div class="form-group required">
            <input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email"
                   class="form-control input-lg" required />
            <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
            <label class="checkme">
              <input type="checkbox" value="" id="checkme" /> Dont show again</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- =====  HEADER START  ===== -->
  <header id="header">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="header-top-left">
              <div class="contact"><span class="hidden-xs hidden-sm hidden-md">Days a week from 9:00 am to 7:00
                    pm</span></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <ul class="header-top-right text-right">
              <li class="account">
<!--                <a th:href="@{/login}">My Account</a>-->
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                  <a th:href="@{/login}" th:case="${false}"><i class="fa fa-power-off"></i>    Login</a>
                  <span th:case="${true}"><span th:text=" 'Hola!! ' + ${naam}">Hola!! User</span></span>
                </span></li>
              <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                  <span th:case="${true}"><a href="#" th:href="@{/logou}"><i class="fa fa-power-off"></i> Logout</a>
                  </span></span>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container-fluid">
        <div class="row headerLogo">
          <div class="col-xs-12 col-sm-4">
            <div class="main-search mt_40">
              <input id="search-input" name="search" value="" placeholder="Search" class="form-control input-lg "
                     autocomplete="off" type="text">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                </span>
            </div>
          </div>
          <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" href="index.html"><img alt="BLAPS" height="150px" width="150px"
                                                                                                       th:src="@{/images/mylogo.png}"> </a></div>
          <div class="col-xs-6 col-sm-4 shopcart">
            <div id="cart" class="btn-group btn-block mtb_40">
              <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse"
                      aria-expanded="true"><span id="shippingcart">Shopping cart</span><span id="cart-total">items
                    (0)</span> </button>
            </div>
            <div id="cart-dropdown" class="cart-menu collapse">
              <ul>
                <li>
                  <table class="table table-striped">
                    <tbody>
                    <tr>
                      <td class="text-center"><a href="#"><img src="images/product/70x84.jpg" alt="Item"
                                                               title="Item"></a></td>
                      <td class="text-left product-name"><a href="#">Nike Home</a> <span
                              class="text-left price">₹20,000</span>
                        <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                      </td>
                      <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                    <tr>
                      <td class="text-center"><a href="#"><img src="images/product/70x84.jpg" alt="Item"
                                                               title="Item"></a></td>
                      <td class="text-left product-name"><a href="#">Nike Away</a> <span
                              class="text-left price">₹20,000</span>
                        <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                      </td>
                      <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <table class="table">
                    <tbody>
                    <tr>
                      <td class="text-right"><strong>Sub-Total</strong></td>
                      <td class="text-right">₹40.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                      <td class="text-right">₹2.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>VAT (20%)</strong></td>
                      <td class="text-right">₹20,000</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Total</strong></td>
                      <td class="text-right">₹62.00</td>
                    </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <form action="cart_page.html">
                    <input class="btn pull-left mt_10" value="View cart" type="submit">
                  </form>
                  <form action="checkout_page.html">
                    <input class="btn pull-right mt_10" value="Checkout" type="submit">
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <p>menu</p>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
                  class="i-bar"><i class="fa fa-bars"></i></span></button>
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul id="menu" class="nav navbar-nav">
              <li> <a href="index.html">Home</a></li>
              <li> <a href="category_page.html">Shop</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                <ul class="dropdown-menu">
                  <li> <a href="cart_page.html">Cart</a></li>
                  <li> <a href="checkout_page.html">Checkout</a></li>
                  <li> <a href="product_detail_page.html">Product Detail Page</a></li>
                </ul>
              </li>
              <li> <a href="about.html">About us</a></li>
              <li> <a href="contact_us.html">Contact us</a></li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </nav>
      </div>
    </div>
  </header>
  <!-- =====  HEADER END  ===== -->
  <!-- =====  CONTAINER START  ===== -->
  <div class="container mt_30">
    <div class="row ">
      <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
        <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" role="button">
          <div class="nav-responsive">
            <div class="heading-part">
              <h2 class="main_title">Top category</h2>
            </div>
            <ul class="nav  main-navigation collapse in">
              <li><a href="#">Shirts</a></li>
              <li><a href="#">Pants</a></li>
            </ul>
          </div>
        </div>
        <div class="left_banner left-sidebar-widget mt_30 mb_40"> <a href="#"><img th:src="@{images/lisa_login.jpg}"
                                                                                   alt="Left Banner" class="img-responsive" /></a> </div>
      </div>
      <div class="col-sm-8 col-lg-9 mtb_20">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel-login panel">
              <div class="panel-heading">
                <div class="row mb_20">
                  <div class="col-xs-3" style="font-size: 150%">
                    Login
                  </div>
                </div>
                <hr>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div th:if="${param.error}" class="col-sm-12 col-sm-offset-1">
                      <h4>Invalid username and password.</h4>
                    </div>
                    <form id="login-form" th:action="@{/login}" method="post">
                      <div class="form-group">
                        <label for="userName"></label>
                        <input type="text" name="userName" id="username" tabindex="1" class="form-control"
                               placeholder="Username" >
                      </div>
                      <div class="form-group">
                        <label for="password"></label>
                        <input type="password" name="password" id="password2" tabindex="2" class="form-control"
                               placeholder="Password">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
<!--                            <td></td>-->
<!--                            <td><input type="submit" name="submit" value="submit"></td>-->
                            <input type="submit" name="submit" id="login-submit" tabindex="4"
                                   class="form-control btn btn-login" value="Log In">
                          </div>
                          </div>
                          <div class="form-group col-sm-offset-3">
                            <span>New to Blaps?!  <a href="#" th:href="@{/register}"><i class="fa fa-chevron-right"></i>Join in</a></span>
                          </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =====  CONTAINER END  ===== -->
<!-- =====  FOOTER START  ===== -->
<div class="footer pt_60">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">Information</h6>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">Services</h6>
        <ul>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Wish List</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Order History</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">Extras</h6>
        <ul>
          <li><a href="#">Brands</a></li>
          <li><a href="#">Gift Certificates</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Specials</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">Contacts</h6>
        <ul>
          <li>Warehouse & Offices,</li>
          <li>12345 Street name, Bucharest RO</li>
          <li>(+91) 999 999 999</li>
          <li>nike@store.com</li>
          <li><a href="index.html">www.nike.com/in</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom mt_60 ptb_20">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <div class="copyright-part text-center">@2021 All Rights Reserved </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
  <!-- =====  FOOTER END  ===== -->
  <a id="scrollup"></a>
</div></body>
</html>