<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>BLAPS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/font/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
</head>

<body>
<!-- =====  LODER  ===== -->
<div class="loder"></div>
<div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="header-top-left">
                            <div class="contact"><span class="hidden-xs hidden-sm hidden-md">Days a week from 9:00 am to 7:00
                    pm</span></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <ul class="header-top-right text-right">
                            <li class="account">
                                <!--                <a th:href="@{/login}">My Account</a>-->
                                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                  <a th:href="@{/register}" th:case="${false}"><i class="fa fa-power-off"></i>     Sign up</a>
                  <span th:case="${true}"><span th:text=" 'Hola!! ' + ${naam}">Hola!! User</span></span>
                  <span th:case="*">LOL!!</span>
                </span></li>
                            <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}" >
                      <span th:switch="${user.role}">
                      <a href="#" th:href="@{/admin}" th:case="'admin'"><i class="fa fa-user-secret"></i> Admin</a></span>
                  </span></span>
                            </li>
                            <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}"><a href="#" th:href="@{/logou}"><i class="fa fa-power-off"></i> Logout</a>
                  </span></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container-fluid">
                <div class="row headerLogo">
                    <div class="col-xs-12 col-sm-4">
                        <form th:action="@{/search}">
                            <div class="main-search mt_40">
                                <input id="search-input" name="keyword"  placeholder="garfield" class="form-control input-lg "
                                       autocomplete="off" type="text">
                                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                </span>
                            </div>
                        </form>
                    </div>
                    <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/index}"> <img alt="BLAPS" height="150px" width="150px"
                                                                                                                    th:src="@{/images/mylogo.png}"></a> </div>
                </div>
                <nav class="navbar">
                    <p>menu</p>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
                            class="i-bar"><i class="fa fa-bars"></i></span></button>
                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul id="menu" class="nav navbar-nav">
                            <li> <a th:href="@{/index}">Home</a></li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop </a>
                                <ul class="dropdown-menu" >
                                    <div th:each="category:${categories}">
                                        <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                                <ul class="dropdown-menu">
                                    <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                                        <li> <a th:case="${true}" th:href="@{/cart/{customerId}(customerId=${user.customerId})}" style="color:white;">Cart</a></li>
                                        <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Cart</a></li>
                                    </div>
                                    <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                                        <li> <a th:case="${true}" th:href="@{/orders/{customerId}(customerId=${user.customerId})}" style="color:white;">Your orders</a></li>
                                        <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Your orders</a></li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </nav>
            </div>
        </div>
    </header>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">

        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
            <div class="breadcrumb ptb_20">
                <h1>Your Orders</h1>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Your Orders</li>
                </ul>
            </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
            <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" role="button">
                <div class="nav-responsive">
                    <div class="heading-part">
                        <h2 class="main_title">Top category</h2>
                    </div>
                    <ul class="nav  main-navigation collapse in">
                        <div th:each="category:${categories}">
                            <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
                    </ul>
                </div>
            </div>
            <div class="left_banner left-sidebar-widget mb_50 mt_30">
                <a href="#"><img th:src="@{/images/suga_order.jpg}" alt="Left Banner" class="img-responsive" /></a>
            </div>
        </div>
        <div class="col-sm-8 col-lg-9 mtb_20">
            <div th:if="${param.q}" class="alert alert-danger" role="alert" th:text="${param.q}">
                <p>ERROR!!</p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td class="text-center">Image</td>
                        <td class="text-left">Product Name</td>
                        <td class="text-left">Size</td>
                        <td class="text-left">Quantity</td>
                        <td class="text-right">Give Review</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartItem : ${cartItems}">
                        <td class="text-center">
                            <a th:href="@{/Product/{id}(id=${cartItem.productId})}">
                            <img th:src="${cartItem.imageLink}"
                                 style="height:20%; max-width: 50%" alt="Item" title="Item" /></a>
                        </td>
                        <td class="text-left">
                            <a  th:text="${cartItem.title}" th:href="@{/Product/{id}(id=${cartItem.productId})}">Product</a>
                        </td>
                        <td class="text-left" th:text="${cartItem.description}"></td>
                        <td class="text-left" th:text="${cartItem.smallInStock}"></td>
                        <td class="text-right" th:switch="${cartItem.mediumInStock}">
                            <a th:case="'0'" th:href="@{/Product/{id}(id=${cartItem.productId})}"><i class="fa fa-pencil"></i>Give Review</a>
                            <p  th:case="'1'" style="font-size:75%">Review already given</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a th:href="@{/index}">
                <input class="btn pull-left mt_30" type="submit" value="Continue Shopping" />
            </a>
        </div>
        <!--    </div>-->
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    <div class="footer pt_60">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-block">
                    <h6 class="footer-title ptb_20">Board Members</h6>
                    <ul>
                        <li><a href=""><i class="fa fa-user"></i>&nbspKamma Sai Kiran</a></li>
                        <li><a href=""><i class="fa fa-user"></i>&nbspEssamaraju Sasi Kiran</a></li>
                        <li><a href=""><i class="fa fa-user"></i>&nbspBanavath Mourya Naik</a></li>
                        <li><a href=""><i class="fa fa-user"></i>&nbspSavaturi Bhagavat Sai</a></li>
                        <li><a href=""><i class="fa fa-user"></i>&nbspN Sai Pranav</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-block">
                </div>
                <div class="col-md-3 footer-block"></div>
                <div class="col-md-3 footer-block">
                    <h6 class="footer-title ptb_20">Contacts</h6>
                    <ul>
                        <li>Room no. 237,235,223</li>
                        <li>Visweshwaraya Hostel</li>
                        <li>IIT BHU</li>
                        <li><a href="https://github.com/cokepranav/BLapSS"><i class="fa fa-codepen"></i>GITHUB</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom mt_60 ptb_20">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="copyright-part text-center">@2022 All Rights Reserved</div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>

        </div>
        <!-- =====  FOOTER END  ===== -->
        <a id="scrollup"><i class="fa-solid fa-up"></i></a>
    </div>
    <!-- =====  FOOTER END  ===== -->
</div>
<!--<a id="scrollup"></a>-->
<script th:src="@{/script/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/script/owl.carousel.min.js}"></script>
<script th:src="@{/script/bootstrap.min.js}"></script>
<script th:src="@{/script/jquery.magnific-popup.js}"></script>
<script th:src="@{/script/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/script/custom.js}"></script>
</body>
</html>