<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>BLAPS</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" th:href="@{/font/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
</head>

<body>
<!-- =====  LODER  ===== -->
<div class="loder"></div>
<div class="wrapper">
  <!-- =====  HEADER START  ===== -->
  <header id="header">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="header-top-left">
              <div class="contact"><span class="hidden-xs hidden-sm hidden-md">Days a week from 9:00 am to 7:00
                    pm</span></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <ul class="header-top-right text-right">
              <li class="account">
                <!--                <a th:href="@{/login}">My Account</a>-->
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                  <a th:href="@{/register}" th:case="${false}"><i class="fa fa-power-off"></i>     Sign up</a>
                  <span th:case="${true}"><span th:text=" 'Hola!! ' + ${naam}">Hola!! User</span></span>
                  <span th:case="*">LOL!!</span>
                </span></li>
              <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}" >
                      <span th:switch="${user.role}">
                      <a href="#" th:href="@{/admin}" th:case="'admin'"><i class="fa fa-user-secret"></i> Admin</a></span>
                  </span></span>
              </li>
              <li class="account">
                <span th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
<!--                  <span class="glyphicon glyphicon-log-out"></span>-->
                  <span th:case="${true}"><a href="#" th:href="@{/logou}"><i class="fa fa-power-off"></i> Logout</a>
                  </span></span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container-fluid">
        <div class="row headerLogo">
          <div class="col-xs-12 col-sm-4">
            <form th:action="@{/search}">
              <div class="main-search mt_40">
                <input id="search-input" name="keyword"  placeholder="garfield" class="form-control input-lg "
                       autocomplete="off" type="text">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
          <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/index}"> <img alt="BLAPS" height="150px" width="150px"
                                                                                                          th:src="@{/images/mylogo.png}"></a> </div>
        </div>
        <nav class="navbar">
          <p>menu</p>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span
                  class="i-bar"><i class="fa fa-bars"></i></span></button>
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul id="menu" class="nav navbar-nav">
              <li> <a th:href="@{/index}">Home</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop </a>
                <ul class="dropdown-menu" >
                  <div th:each="category:${categories}">
                    <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                <ul class="dropdown-menu">
                  <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <li> <a th:case="${true}" th:href="@{/cart/{customerId}(customerId=${user.customerId})}" style="color:white;">Cart</a></li>
                    <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Cart</a></li>
                  </div>
                  <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <li> <a th:case="${true}" th:href="@{/orders/{customerId}(customerId=${user.customerId})}" style="color:white;">Your orders</a></li>
                    <li> <a th:href="@{/login}" th:case="${false}" style="color:white;">Your orders</a></li>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.nav-collapse -->
        </nav>
      </div>
    </div>
  </header>
  <!-- =====  HEADER END  ===== -->
  <!-- =====  CONTAINER START  ===== -->
  <div class="container">
    <div class="row ">
      <!-- =====  BANNER STRAT  ===== -->

      <div class="col-sm-12">
        <div class="ptb_20 breadcrumb">
          <h1 th:text="${products.title}">Blaps...</h1>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="category_page.html">Product</a></li>
            <li th:text="${products.title}" class="active">blaps...</li>
          </ul>
        </div>
      </div>
      <!-- =====  BREADCRUMB END===== -->
      <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
        <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" role="button">
          <div class="nav-responsive">
            <div class="heading-part">
              <h2 class="main_title">Top category</h2>
            </div>
            <ul class="nav  main-navigation collapse in">
              <div th:each="category:${categories}">
                <li> <a th:text="${category.title}" th:href="@{/products/{categoryId}(categoryId=${category.categoryId})}" style="color:white;">Shirts</a></li></div>
            </ul>
          </div>
        </div>
        <div class="left_banner left-sidebar-widget mt_30 mb_40">
          <a href="#"><img th:src="@{/images/zaynmalik.jpg}" alt="Left Banner" class="img-responsive" /></a>
        </div>
      </div>
      <div class="col-sm-8 col-lg-9 mtb_20">
        <div class="row mt_10 ">
          <div class="col-md-6">
            <div>
              <a class="thumbnails">
                <img class="card-img-top" th:src="${products.imageLink}" alt="Card image cap">
                </a>
            </div>
          </div>
          <div class="col-md-6 prodetail caption product-thumb">
            <h4 data-name="product_name" class="product-name">
              <a href="#" style="font-size:150%" title="Casual shoe With Ruffle Hem" th:text="${products.title}">A Nike Product</a>
            </h4>
            <span class="price mb_20"><span class="currencySymbol">₹ </span><span class="amount" th:text="${products.unitPrice}">70,000.00</span>
              </span>
            <hr />
            <ul class="list-unstyled product_info mtb_20">
              <li>
                <label>Brand:</label>
                <span> <a href="#">BLAPS</a></span>
              </li>
              <li>
                <label>Product Code:</label>
                <span th:text="${products.productId}"> product 20</span>
              </li>
              <li>
                <div style="font-size:105%">
                <label>Rating:</label>
                <span th:text="${rating}">Rating</span>
                </div>
              </li>
              <li>
                <label style="font-size:105%">Availability :</label>
              </li>
              <li>
                <label>Small:</label>
                <span th:text="${products.smallInStock}"> product 20</span>
              </li>
              <li>
                <label>Medium:</label>
                <span th:text="${products.mediumInStock}"> product 20</span>
              </li>
              <li>
                <label>Large:</label>
                <span th:text="${products.largeInStock}"> product 20</span>
              </li>
            </ul>
            <hr />
            <p class="product-desc mtb_30" th:text="${products.description}">
              Lorem ipsum
            </p>
            <div id="product">
              <form th:action="@{/addToCart/{productId}(productId=${products.productId})}" method="post">
<!--                <a href="" th:href="@{/Product/{id}(id=${threeproducts.productId})}">-->
              <div class="form-group">
                <div class="row">
                  <div class="Sort-by col-md-6">
                    <label>Size</label>
                    <select name="size" id="select-by-size" class="selectpicker form-control">
                      <option th:each="size : ${availableSizes}" th:value="${size}" th:text="${size}"></option>
                    </select>
                  </div>
                </div>
              </div>
                <p th:text="${param.q}" style="font-size:125%">ERROR</p>
                <p th:text = "${error_msg}" />
              <div class="form-group">
              <div class="button-group mt_30">
                <div class="add-to-cart">
                  <button type="submit"><i type="submit" class="fa fa-shopping-cart fa-2x"></i></button>
                </div>
              </div>
            </div>
              </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="exTab5" class="mtb_30">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#1c" data-toggle="tab">Overview</a>
                </li>
                <li><a href="#2c" data-toggle="tab">Reviews</a></li>
                <li th:if="${!orderbyuser.isEmpty()}"><a href="#3c" data-toggle="tab"  th:if="${userreview.isEmpty()}">Give Reviews</a></li>
              </ul>
              <div class="tab-content ">
                <div class="tab-pane active pt_20" id="1c">
                  <p th:text="${products.description}">
                    lorem ipsum
                  </p>
                </div>
                <div class="tab-pane pt_20" id="2c">
                  <p th:text="${no}"></p>
                  <div th:each="rev:${review}">
                  <ul class="list-unstyled product_info mtb_20">
                    <li>
                      <label>Name:</label>
                      <span> <a href="#" th:text="${rev.title}">BLAPS</a></span>
                    </li>
                    <li>
                      <label style="font-size:110%">Review:</label>
                      <span th:text="${rev.description}"> product 20</span>
                    </li>
                    <li>
                      <label>Rating:</label>
                      <span> <a href="#" th:text="${rev.smallInStock}">BLAPS</a></span>
                    </li>
                  </ul>
                  </div>
                </div>
                <div class="tab-pane" id="3c" >
                  <form class="form-horizontal" th:action = "@{/Product/{id}(id=${products.productId})}" method="post">
                    <div id="review"></div>
                    <h4 class="mt_20 mb_30">Write a review</h4>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-review">Your Review</label>
                        <textarea name="description" rows="5" id="input-review" class="form-control"></textarea>
                        <div class="help-block">
                          <span class="text-danger">Note:</span> HTML is not
                          translated!
                        </div>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-md-6">
                        <label class="control-label">Rating&nbsp;&nbsp;</label>
                        <div class="rates">
                          <span>Bad</span>
                          <input name="rating" value="1" type="radio" />
                          <input name="rating" value="2" type="radio" />
                          <input name="rating" value="3" type="radio" />
                          <input name="rating" value="4" type="radio" />
                          <input name="rating" value="5" type="radio" />
                          <span>Good</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="buttons pull-right">
                          <button type="submit" class="btn btn-md btn-link">
                            Continue
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
<!--                <div class="tab-pane" id="3c" th:if="${!userreview.isEmpty()}">-->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  <!-- =====  CONTAINER END  ===== -->
  <!-- =====  FOOTER START  ===== -->
  <div class="footer pt_60">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-block">
          <h6 class="footer-title ptb_20">Board Members</h6>
          <ul>
            <li><a href=""><i class="fa fa-user"></i>&nbspKamma Sai Kiran</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspEssamaraju Sasi Kiran</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspBanavath Mourya Naik</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspSavaturi Bhagavat Sai</a></li>
            <li><a href=""><i class="fa fa-user"></i>&nbspN Sai Pranav</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-block">
        </div>
        <div class="col-md-3 footer-block"></div>
        <div class="col-md-3 footer-block">
          <h6 class="footer-title ptb_20">Contacts</h6>
          <ul>
            <li>Room no. 237,235,223</li>
            <li>Visweshwaraya Hostel</li>
            <li>IIT BHU</li>
            <li><a href="https://github.com/cokepranav/BLapSS"><i class="fa fa-codepen"></i>GITHUB</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom mt_60 ptb_20">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <div class="copyright-part text-center">@2022 All Rights Reserved</div>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
      </div>

    </div>
    <!-- =====  FOOTER END  ===== -->
    <a id="scrollup"><i class="fa-solid fa-up"></i></a>
  </div>
  <!-- =====  FOOTER END  ===== -->
</div>
<!--<a id="scrollup"></a>-->
<script th:src="@{/script/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/script/owl.carousel.min.js}"></script>
<script th:src="@{/script/bootstrap.min.js}"></script>
<script th:src="@{/script/jquery.magnific-popup.js}"></script>
<script th:src="@{/script/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/script/custom.js}"></script>
</body>
</html>